*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

button,
summary {
	cursor: pointer;
}


:root {
	--color-text-black: #111;
	--color-background-white: #fff;
	--color-background-white: #fff;
	--color-background-black:#000;
	--color-text-white: #fff;
	--color-text-gray: #666666;
}

body {
	color: var(--color-text);
	background-color: var(--color-background-white);
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

h2 {
	font-weight: 500;
	padding: 1em;
}

/****************/
/* header */
/****************/

.header_home {
	background-image: linear-gradient(to bottom, #0000006e, #cecece20);
	position: fixed;
	display: flex;
	justify-content: space-between;
	height: 3em;
	gap: 137px;
	width: 100%;
	z-index: 1;
}

.header_home > a {
	inset: 0;
	object-fit: contain;
}

.header_home a img {
	width: 100%;
	display: block;
	object-fit: contain;
	padding-top: 1.2em;
}

.header_home > section > ul {
	padding: 1em;
}

.header_home > section > ul button {
	padding: 1.5em;
	width: .3em;
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 100;
	position: relative;
	/* order: -1; */
	/* width: 6em; */
}

.header_home section h1 {
	display: none;
}

/* header nav 1 hamburgermenu */

.header_home > button > img {
	display: block;
	width: 2em;
	height: 2em;
	/* order: -2; */
	opacity: 0;
	transition: opacity 230ms ease-in-out;
}

.header_home > button > img:hover {
	opacity: 1;
}


.header_home > section:nth-of-type(1) ul:nth-of-type(1) {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.header_home:nth-of-type(1) ul:nth-of-type(1) button img {
	width: 2em;
	display: block;
}

.header_home:nth-of-type(1) ul:nth-of-type(1) button span {
	display: none;
}

.header_home nav:first-of-type {
	position:fixed;
	z-index: 100;
	background-color: var(--color-background-white);
	top: 0;
	right: 0;
	left: 0;
	transform: translatey(-100%);
	transition: .2s;
}

/* Nav open */

.header_home nav:first-of-type.buttonOpen {
    transform: translatey(0%);
}

.header_home nav:first-of-type.buttonOpen input {
	border: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
	padding-top: 2em;
	width: 80%;
}

.header_home nav:nth-of-type(1) ul a {
	font-family: inherit;
	border-bottom-color: #000;
	text-decoration: none;
	color: #000;
}

.header_home nav:first-of-type.buttonOpen a img {
	width: 4em;
}

.header_home nav:first-of-type.buttonOpen li {
	font-size: medium;
	padding-top: 1em;
	padding-bottom: 1em;
	color: rgba(0, 0, 0, 0.324);
	list-style-type: none;
}

.header_home nav:nth-of-type(2) ul:nth-of-type(1) {
	font-size: .8em;
	list-style-type: none;
	padding: .3em;
	align-items: start;
	text-transform: uppercase;
	/* color: rgb(255, 255, 255); */
	/* padding: .3em; */
	/* display: grid; */
	/* transform: translateX(100%);*/
	justify-content: space-between;
	/* flex-wrap: wrap; */
	/* flex-direction: row; */
}

/* body>header nav:nth-of-type(1) ul li:hover { 
	transform: ;
} 
*/

.header_home nav:nth-of-type(1) ul:nth-of-type(2) {
	list-style-type: none;
	padding: .5em;
	background-color: rgba(0, 0, 0, 0.034);
	margin: 0;
}

/****************/
/* header nav 2 */
/****************/

.header_home nav:nth-of-type(2) {
	background-color: black;
	overscroll-behavior-x: contain;
	overflow-x: auto;
	position: fixed;
	bottom:0;
	left: 0;
	right: 0;
}

.header_home nav:nth-of-type(2) ul {
	overscroll-behavior-x: contain;
	overflow-x: auto;
	display: flex;
	gap: 1em;
	padding:0;
	margin:0;
	list-style:none;
}

.header_home nav:nth-of-type(2) ul a {
	text-decoration: none;
	color: var(--color-text-white);
	padding: 1em;
	display:block;
}

/* header>menu.dropdown { 
	background-color: aqua;
}
*/

.header_home nav:nth-of-type(2) ul a li {
	position: relative;
	flex-shrink: 0;
}

/****************/
/* main */
/****************/

.main_home > section {
	padding-bottom: 2.5em;
}

.main_home section:nth-of-type(1),
.main_home section:nth-of-type(2),
.main_home section:nth-of-type(3){
	text-align: center;
}	

.main_home > section > img,
.main_home > ul img {
	width: 100%;
}

.main_home > section:nth-of-type(1) a,
.main_home > section:nth-of-type(2) a,
.main_home > section:nth-of-type(3) a {
	text-decoration: none;
	color: var(--color-text-black);
	border-bottom: 1px solid black;
	border-bottom-width: thin;
	font-size: .75em;
	font-family: futura, Trebuchet MS, Arial, sans-serif;
	padding: .625em 1.125em 0.5em 0;
	text-align: center;
	transition: 1s;
	text-decoration: none;
}

/* link tekst */
.main_home > ul:nth-of-type(1) a,
.main_home > ul:nth-of-type(2) a {
	text-decoration: none;
}

.main_home > section:nth-of-type(1) a:hover,
.main_home > section:nth-of-type(2) a:hover,
.main_home > section:nth-of-type(3) a:hover {
	color: #fff;
	background-color: black;
}

.main_home > section:nth-of-type(4) li {
	width: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
	text-decoration: none;
	list-style-type: none;
	padding-bottom: 3em;
}

.main_home > ul:nth-of-type(1),
.main_home > ul:nth-of-type(2) {
	display: flex;
	padding-left: 1em;
	gap: 1.5em;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	overflow-x: auto;
	list-style-type: none;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.05);
}


.main_product > section:nth-of-type(1) > ul {
	display: flex;
	/* scroll-snap-type: x mandatory; */
	/* overscroll-behavior-x: contain; */
	/* overflow-x: auto; */
	list-style-type: none;
	text-decoration: none;
	display: flex;
	margin: 1.2em;
	padding-left: 0;
	gap: 1em;
}

.main_product > section:nth-of-type(1)  ul

.main_product > section > li {
	width: 100%;
}

.main_home p {
	padding-top: 1em;
	padding-bottom: 1em;
}

.main_home > p:nth-of-type(1),
.main_home > p:nth-of-type(2) {
	text-align: center;
	padding-top: 3em;
	padding-bottom: 2em;
	background-color: rgba(0, 0, 0, 0.05);
	color: var(--color-text-gray);
}

.main_home > ul:nth-of-type(1) li,
.main_home > ul:nth-of-type(2) li {
	width: 50%;
	flex-shrink: 0;
	scroll-snap-align: center;
	list-style-type: none;
	padding-bottom: 3em;
}

.main_home > ul:nth-of-type(1) p,
.main_home > ul:nth-of-type(2) p {
	color: var(--color-text-black);
}

.main_home > button:hover {
	cursor: pointer;
}

/* button:focus-visible  */
.main_home button:focus {
	outline: #000;
	/* background-color: blueviolet; */
}

/* section carrousel */

.main_home > section:nth-of-type(4) {
	background-color: var(--color-background-black);
	padding-left: 1.5em;
	padding-right: 1.5em ;
}

.main_home > section:nth-of-type(4) ul{
	display: flex;
	padding-left: 0;
	gap: 1em;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	overflow-x: auto;
}

.main_home > section:nth-of-type(4) ul li{
	position: relative;
}

.main_home > section:nth-of-type(4) img {
	border-radius: 1em;
	background-image:linear-gradient(to top,#cecece20 #0000006e);
	width:100%;
}

.main_home > section:nth-of-type(4) h2 {
	color: var(--color-text-white);
	list-style-type: none;
	text-decoration: none;
	padding-top: 2.5em;
}

.main_home > section:nth-of-type(4) h3 {
	color: var(--color-text-white);
	position: absolute;
	font-weight: 300;
	font-size: 1.6em;
	bottom: 5em;
	left: 1em;
	right: 1em;
}

.main_home > section:nth-of-type(4) p {
	color: var(--color-text-white);
	position: absolute;
	bottom: 2em;
	/* bottom: 3em; */
}  

.main_home > section:nth-of-type(4) p:nth-of-type(1) {
	bottom: 12em;
	left: 1.5em;
}

.main_home > section > ul:nth-of-type(1) a:nth-of-type(1) {
	font: inherit;
	display: inline-block;
	position: absolute;
	font-size: .75em;
	font-family: futura, Trebuchet MS, Arial, sans-serif;
	padding: .625em 1.125em 0.5em 0;
	text-decoration: none;
	color: var(--color-text-white);
	border: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
	background-color: rgba(255, 255, 255, 0);
	bottom: 7em;
	left: 2em;
}

.main_home > section a:nth-of-type(2) {
	font: inherit;
	display: inline-block;
	font-size: .75em;
	font-family: futura, Trebuchet MS, Arial, sans-serif;
	padding: .625em 1.125em 0.5em 0;
	text-decoration: none;
	color: var(--color-text-white);
	border: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
	bottom: 1em;
	left: 2em;
}

.main_home > section a {
	color: var(--color-text-white);
	text-decoration: none;
	padding: .625em 1.125em 0.5em 0;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

/* product pagina */

.main_product img

/* footer */

footer {
	background-color: var(--color-background-black);
	padding: 1em;
	padding-bottom: 6em;
}

footer img {
	width: 60%;
	padding: 1.2em 0 3em 0;
	border-bottom-style: solid;
	border-bottom-width: thin;
	color: rgba(255, 255, 255, 0.199);
}

footer input {
	/* background-color: rgba(255, 255, 255, 0.227); */
	border: none;
	padding: .8em;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

footer input::placeholder {
	font-weight: 200;
	opacity: .5;
	/* color: var(--color-text-white); */
}

footer details {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 500;
	padding-top: 1em;
	padding: 1.4em 0 1.4em 0;
}

/* footer details::after {

}
*/

footer h3 {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 500;
	padding-top: 1em;
	padding: 1.4em 0 1.4em 0;
}

footer p {
	padding: .6em 0 1em 0 ;
}

/* javascript styling test*/
